* { /* Ajusta las configuraciones predeterminadas de los navegadores */
    margin: 0; /* Hace que el margen de la pagina sea de 0 */
    padding: 0; /* Hace que no haya espacios en blanco para acomodar los objetos */
    box-sizing: border-box; /* */
}

body{
    background-image: url(Imagenes/pxfuel3.jpg);
}

.estilobotoncertificados{
    padding: 4px;
    margin-top: 30px;
    background: #000;
}

.cajaproyectostitulo{
    background-color: rgba(65, 17, 110, 0.849);
    text-align: center; /* Alinea el texto en el centro */
    margin-left: auto; /* Centrar horizontalmente Izquierda */
    margin-right: auto; /* Centrar horizontalmente Derecha */
    border-radius: 30px;
    border: 5px solid #ffffff;
    margin-top: 40px; /* Hace que el elemento tenga espacio arriba */
    width: fit-content;
    padding: 8px;
}

.cajaproyectos{
    background-color: rgba(65, 17, 110, 0.849);
    width: 30%;
    text-align: center; /* Alinea el texto en el centro */
    align-items: center;  /* Alinea los elementos verticalmente */
    margin-left: auto; /* Centrar horizontalmente Izquierda */
    margin-right: auto; /* Centrar horizontalmente Derecha */
    padding-bottom: 1.5%;
    border-radius: 30px;
    border: 5px solid #ffffff;
}

.caja1{
    background-color: rgba(65, 17, 110, 0.849);
    height: 30%; /* Altura de 600 pixeles */
    text-align: center; /* Alinea el texto en el centro */
    align-items: center;  /* Alinea los elementos verticalmente */
    width: 70%; /* Hace que el ancho este al 100% de la pantalla */
    margin-left: auto; /* Centrar horizontalmente Izquierda */
    margin-right: auto; /* Centrar horizontalmente Derecha */
    margin-top: 40px; /* Hace que el elemento este hasta arriba */
    padding-top: 1.5%; /* Crea un espacio en blanco arriba del elemento de */
    padding-bottom: 1.5%;
    border-radius: 30px;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.5);
}

.caja2{
    background-color: rgba(65, 17, 110, 0.849);
    width: 30%;
    text-align: center; /* Alinea el texto en el centro */
    align-items: center;  /* Alinea los elementos verticalmente */
    margin-left: auto; /* Centrar horizontalmente Izquierda */
    margin-right: auto; /* Centrar horizontalmente Derecha */
    padding-bottom: 1.3%;
    border-radius: 30px;
    border: 5px solid #ffffff;
    padding-top: 1.3%;
}

.caja3{
    background-color: rgba(65, 17, 110, 0.849);
    width: 45%;
    text-align: center; /* Alinea el texto en el centro */
    align-items: center;  /* Alinea los elementos verticalmente */
    margin-left: auto; /* Centrar horizontalmente Izquierda */
    margin-right: auto; /* Centrar horizontalmente Derecha */
    padding-bottom: 1.3%;
    padding-top: 1.3%;
    border-radius: 30px;
    border: 5px solid #ffffff;
    padding-left: 2%;
    padding-right: 2%;
}

.img1{ /*Estilo para las imagenes */
    border-radius: 100%; /* Hace que el borde sea redondo */
    border: 5px solid #ffffff;
}

/* Galeria imagenes */
section{
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    width: 600px;
    height: 430px;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben */
    margin: auto;
  }

  section img{   
    width: 100px; /* Tamaño inicial para que las imágenes se vean */
    height: 200px; /* Asegúrate de que la altura esté definida si quieres que todas tus imágenes tengan el mismo tamaño */
    flex-grow: 0; /* Previene que las imágenes crezcan para llenar el contenedor */
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }

  section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    
  }

p{
    font-style: italic; /* Cambia el estilo de la fuente */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Cambia la fuente de los parrafos */
    color: white; /* Cambia el color de los parrafos */
    font-size: 1.3em; /* Cambia el tamaño de el parrafo */
    padding-bottom: 20px; /* Crea un espacio en blanco abajo de 20 pixeles */
    padding-top: 20px; /* Crea un espacio en blanco arriba de 20 pixeles */
}

.botones{
    border-radius: 20%;
    transition: transform 0.3s ease, background 0.3s ease;
}
.botones:hover{ /* Cuando el mouse esta encima realiza */
    transform: scale(1.15); /* Aumenta el tamaño del cuadro al 110% */
}

a {
    color: azure; /* Pone color a los parrafos con la etiqueta a */
    text-decoration: none; /* Quita el subrallado que lleva por defecto el texto con la etiqueta a */
}

.titulos{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;   
    text-align: center;
    display: block; /* Agregar esta línea */
    font-size: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.texto1{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;   
    text-align: center;
    display: block; /* Agregar esta línea */
}

.texto2{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;   
    text-align: center;
    display: block; /* Hace que el elemento se comporte como un bloque osea que se alarga horizontalmente */
    font-size: 1rem;
}

@keyframes cambiarColor {
    0% { border-color: red; }
    50% { border-color: blue; }
    100% { border-color: red; }
}

@keyframes caida { /* animacion caida */
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animar-texto{
    display: inline-block; /* Permite que la animación funcione correctamente */
    animation: caida 5s ease-in-out forwards; /* Ajusta estos valores según lo que necesites */
}

.cajatextos{
    max-width: 700px;
    margin: 3%;
    width: 600px;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
    padding: 45px 20px;
    max-height: 700px;
    border: 7.5px solid;
    border-radius: 15%;
    animation: cambiarColor 2s linear infinite;
    overflow: hidden;
}

.botonproyecto{
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 13px;
    margin: 0 auto;
    border-radius: 20px;
    background: linear-gradient(to right, #0e03ac, rgb(5, 1, 53));
    transition: transform 0.5s ease, background 0.7s ease;
    display: block; /* Agregar esta línea */
    justify-content: center;
}

.botonproyecto:hover{
    transform: scale(1.15); /* Aumenta el tamaño del cuadro al 110% */
    background: linear-gradient(to right, rgb(5, 1, 53), #0e03ac);
}

.textoboton{
    font-style: italic; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;   
}

.contenedor_skills{
    max-width: 45%;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
    overflow-x: scroll;
    border-radius: 30px;
    border: 5px solid #ffffff;
    background-color: black;
}

.contenedorchico_skills{
    padding-top: 4%;
    text-align: center;
    width: 30%;
    max-width: 31%;
    height: 30%;
    max-height: 31%;
    background: linear-gradient(to right, #0e03ac, rgb(5, 1, 53));
    border-radius: 15%;
    margin-left: 1%;
    margin-right: 1%;
    transition: transform 0.5s ease;
}

.contenedorchico_skills:hover{
    transform: scale(1.10); /* Aumenta el tamaño del cuadro al 110% */
    border: 2.5px solid #ffffff;
}

.textoskills{
    color: white;
    font-style: italic; /* Cambia el estilo de la fuente */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Cambia la fuente de los parrafos */
}

.barraskill{
    background-color: white;
    border-radius: 10px;
    height: 10%;
    width: 70%;  
    margin-left: 5%;
    margin-top: 20%;
}

.contenedorchico_skills:nth-child(1) .barraskill {
    width: 70%; /* Ancho para el primer div */
}

.contenedorchico_skills:nth-child(2) .barraskill {
    width: 46%; /* Ancho para el segundo div */
}

.contenedorchico_skills:nth-child(3) .barraskill {
    width: 80%; /* Ancho para el primer div */
}

.contenedorchico_skills:nth-child(4) .barraskill {
    width: 55%; /* Ancho para el segundo div */
}

.contenedorchico_skills:nth-child(5) .barraskill {
    width: 80%; /* Ancho para el primer div */
}

.contenedorchico_skills:nth-child(6) .barraskill {
    width: 50%; /* Ancho para el segundo div */
}